body {
    background-color: #0B3C5D;
    color: #FFFDFD;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
}

a {
    color: #D9B310;
}




/* Footer */

footer {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    text-align: center;
    background-color: #1D2731;
    color: #F0F0F0;
    border: 2px solid #D9B310;
}

#copyright {
    grid-column: 1/3;
}

#fLogo {
    width: 100%;
}

#footLogo {
    max-width: 10em;
    justify-self: center;
}




/*Header*/

header {
    display: grid;
    grid-template-columns: 20% 1fr 40%;
    grid-template-rows: 1fr 25px;
    background-color: #1D2731;
    color: #F0F0F0;
    width: 100%;
    align-items: center;
    border: 2px solid #D9B310;
}

#title {
    grid-row: 1;
    grid-column: 2/4;
    margin-right: 15%;
    height: 100%;
}

#hamNav {
    grid-row: 1;
    grid-column: 3/4;
}

img {
    width: 100%;
}

#logo {
    margin-top: 10px;
    width: 80px;
}

#navLogo {
    height: 6em;
}

#logo:hover {
    width: 82px;
    border: 1px solid #D9B310;
    border-radius: 15%;
    transition-duration: .5s;
}

#currentDate {
    font-size: x-small;
    margin-left: 4px;
    padding: 3px;
    grid-row: 2;
    grid-column: 1/4;
    width: 100px;
}

#socialDiv {
    display: flex;
    justify-content: space-around;
    width: 50%;
    grid-row: 2;
    grid-column: 3/4;
}

.social {
    width: 20px;
    height: 20px;
}



/*Headings*/

h1 {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    text-align: center;
}

h2 {
    font-family: 'Merriweather', serif;
}

h3 {
    font-family: 'Merriweather', serif;
}




/*NavBar*/

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FFFDFD;
    margin: 6px 0;
    margin-left: 100px;
    transition: 0.4s;
    }

  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    }

#smallViewBar {
    padding: 10px;
    width: 80%;
    border: 2px solid #D9B310;
    border-top: none;
    border-right: none;
    border-left: none;
    grid-column: 1/4;
    justify-self: center;
}

#nav {
    display: none;
    visibility: hidden;
    position: absolute;
    margin-top: 10%;
    z-index: 2;
}

#overlay {
    position: absolute;
    top: 0;
    left: 65%;
    width: 35%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background: #1D2731;
    z-index: 1;
    border: 2px solid #D9B310;
}

.container {
    color: #FFFDFD;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
  }

#navbar {
    padding: 5px;
    display: grid;
}

#navbar li {
    padding: 8px;
    height: 2em;
}

button {
    background-color: #0B3C5D;
    color: #FFFDFD;
    border: 2px solid #0B3C5D;
    border-radius: 5px;
    margin-top: 8px;
    width: 100px;
    padding: 5px;
}

button:hover {
    border: none;
    padding: 6px;
    border-radius: 15%;
    transition-duration: 0.25s;
    margin-right: -20px;
    cursor: pointer;
    background: linear-gradient(to left, #328CC1, #0B3C5D);
    box-shadow: 2px 3px 4px 2px #328CC1;
}



/*nav dropdown menu(hover)*/
.dropdown {
    list-style: none;
    padding: 0px;
    margin-left: 50px;
    direction:rtl;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100px 10px;
}

.dropdown-content {
    display: inline;
    visibility: hidden;
    list-style: none;
    position: absolute;
    background: linear-gradient(#328CC1, #0B3C5D);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px;
    border-radius: 5%;
    right: 60%;
}

.dropdown-content li {
    text-align: center;
    width: 130px;
}

.dropdown-content a {
    color: #FFFDFD;
    text-decoration: none;
}

.dropdown-content li:hover {
    border-radius: 5%;
    background: linear-gradient(to left, #328CC1, #0B3C5D);
}

.dropdown:hover #homeUl {
    visibility: visible;
}

.dropdown:hover #newsUl {
    visibility: visible;
}

.dropdown:hover #eventsUl {
    visibility: visible;
}

.dropdown:hover #memberUl {
    visibility: visible;
}

.dropdown:hover #aboutUl {
    visibility: visible;
}

.dropdown:hover #contactUl {
    visibility: visible;
}



/*Main Content*/

main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Banner and Action*/

.banner{
    display: none;
    padding: 5px;
    position: relative;
    background-color: #0B3C5D;
    width: 100%;
    right: 0;
}

#bannerOne {
    width: 100%;
}

#action {
    width: 100%;
    display: flex;
}

#actionFig {
    width: 100%;
}

#action p {
    width: 50%;
    position: absolute;
    padding: 8px;
    margin-left: 18%;
    margin-top: 15%;
    z-index: 1;
}

#background {
    width: 45%;
    height: 6%;
    position: absolute;
    background-color: #1D2731;
    padding: 8px;
    margin-left: 20%;
    margin-top: 15%;
    border-radius: 10px;
    opacity: 0.6;
    z-index: 1;
}


/* Chamber and Local News */

#chamberNews {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 85%;
    background-color: #FFFDFD;
    color:#1D2731;
    border: 10px solid #0B3C5D;
}

#newsTitle {
    grid-column: 1/3;
}

.news {
    padding: 15px;
}


/* Member Join and Member Info */

#joinChamber {
    width: 90%;
    display: grid;
    grid-template-rows: 12% 12% 12% 60%;
    border-radius: 20px;
    background-color: #1D2731;
}

#joinTitle {
    grid-column: 1/3;
}

#joinAButton {
    grid-column: 1/3;
    margin: 0px;
}

#joinButton {
    width: 165px;
    height: 35px;
    background-color: green;
    border: 2px solid #1D2731;
    border-radius: 10px;
}

#joinButton:hover {
    border-radius: 15px;
    transition-duration: 0.5s;
    margin-right: 0px;
    cursor: pointer;
    background: linear-gradient(to left, green, greenyellow, green);
    box-shadow: 2px 3px 4px 2px #1D2731;
}

#joinPicture {
    height: 96%;
    width: 96%;
    object-fit: cover;
    margin: 8px;
}

#joinPic {
    grid-row: 3/5;
}

#memBenefit {
    grid-column: 2;
    grid-row: 4/5;
    padding: 10px;
}

#joinPicLarge {
    display: none;
}

#joinTitleTwo {
    grid-column: 1/3;
    grid-row: 3;
}


/* Chamber Events */

#chamberEvents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 62%;
    border: 10px solid #328CC1;
    margin-top: 25px;
}

#parade {
    width: 100%;
}

#paradeFigure {
    min-width: 10em;
}

#eventP {
    width: 90%;
}

#moreInfo {
    color: #D9B310;
}


/* Commpany Spotlight */

#spotlight {
    background-color: #1D2731;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 25px;
}

#spotlightContainer {
    margin: 20px;
    background-color: #FFFDFD;
    color: #1D2731;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spotlightImg {
    width: 100%;
}

.spotImg {
    max-width: 10em;
}

.comp {
    margin: 20px;
}

.spotlightImg:hover {
    box-shadow: 2px 3px 4px 2px #1D2731;
    transition: 0.5s;
}


/* Weather */

#weather {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 55%;
    background-color: #1D2731;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    padding: 15px;
}

#weatherTitle {
    grid-column: 1/3;
    grid-row: 1;
}

#weatherImage {
    grid-column: 1;
}

#degrees {
    grid-column: 2/3;
    font-size: xx-large;
}

#conditions {
    grid-row: 3;
    grid-column: 1/3;
    margin: 0px;
    margin-bottom: 5px;
}

#wind {
    grid-column: 1/2;
}

#windResult {
    grid-column: 2/3;
}

#weatherBar {
    width: 80%;
    border: 2px solid #D9B310;
    border-top: none;
    border-right: none;
    border-left: none;
    grid-column: 1/3;
    justify-self: center;
}

/*Funny image*/

#gif {
    width: 100%;
    display: none;
}

#gifPic {
    width: 100%;
}


/*Discover Page*/

figure {
    padding: 20px;
}

figure img[data-src] {
    filter: blur(0.2em);
  }
  
figure img {
    width: 100%;
    filter: blur(0em);
    transition: filter 0.5s;
  }

#discContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-column: 1/3;
    justify-self: center;
}

figcaption {
    font-size: large;
}

#titleDisc {
    grid-column: 1/4;
}

#visit {
    position: absolute;
    top: 0;
    margin-top: 9%;
    margin-left: 0.5%;
}



/*Join Page*/

  #joinTitle {
    grid-column: 1/4;
  }
  
  #membershipForm {
    width: 100%;
    grid-column: 1/4;
    margin: 0 auto;
  }

  #membershipLevels {
    grid-column: 2/3;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-size: large;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    background: linear-gradient(#328CC1, #0B3C5D);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: #F0F0F0;
  }

  select option {
    background-color: #0B3C5D;
  }

  ::placeholder {
    color: #FFFDFD;
    opacity: 0.5;
  }
  
  :-ms-input-placeholder {
    color: #FFFDFD;
  }
  
  ::-ms-input-placeholder {
    color: #FFFDFD;
  }
  
  input[type="submit"] {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .membershipBox {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

  .memList {
    list-style: none;
  }

.membershipTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
}

.basicMembershipTitle {
    background-color: #CD7F32;
}

.silverMembershipTitle {
    background-color: silver;
}

.goldMembershipTitle {
    background-color: gold;
}

.membershipDescription {
    margin-bottom: 40px;
    text-decoration: underline;
}

.membershipBenefit {
    margin-bottom: 5px;
    margin-top: 15px;
}

  /*Thank you page*/

  .thanks {
    grid-column: 1/4;
    padding: 20px;
  }

  #pthanks {
    justify-self: center;
    font-size: medium;
    width: 50%;
  }



  /*Business Directory Page*/

  .card {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0px 8px 16px 0px #328CC1;
    padding: 20px;
    margin: 40px;
    border-radius: 10px;
  }

  .card img {
    width: 150px;
  }
  
  .listItem {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    margin-bottom: 10px;
    list-style: none;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 20% 20% 20%;
    margin-right: 30px;
  }
  
  .listItem:nth-child(even) {
    background-color: #0B3C5D;
    color: #F0F0F0;
  }
  
  .listItem:nth-child(odd) {
    background-color: #cecece;
  }

  #viewSwitch {
    grid-column: 1/4;
    height: 80px;
  }

  .directoryButton {
    width: 125px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    background-color: #328CC1;
  }

  .directoryButton:hover {
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.25s;
    margin: 10px;
    cursor: pointer;
    background: linear-gradient(to left,#0B3C5D, #328CC1);
    box-shadow: none;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  #busContainer {
    grid-column: 1/4;
    grid-row: 1/4;
  }
  
  