@media only screen and (min-width: 64em) {
    #socialDiv {
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin-right: 50px;
    }

    .social {
        width: 40px;
        height: 40px;
    }

    #logo {
        margin-top: 20px;
        width: 125px;
    }

    #logo:hover {
        width: 127px;
    }

    h1 {
        font-size: 40px;
    }

    #background {
        width: 25%;
        height: 15%;
        margin-top: 7.5%;
        margin-left: 25%;
    }

    /* Main Content */

    main {
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-columns: 25% 50% 25%;
    }


    /*Banner and Action*/

    #action p {
        margin-left: 20%;
    }

    #action {
        grid-column: 1/4;
    }

    #banner {
        grid-column: 1/4;
    }

    /* Chamber and Local News */

    #chamberNews {
        grid-column: 1/4;
        grid-row: 5;
        height: 60%;
        width: 80%;
        justify-self: center;
    }



    /* Member Join and Member Info */

    #joinChamber {
        grid-column: 2/3;
        grid-row: 3/5;
        justify-self: center;
        margin-top: 25px;
        width: 98%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 10% 10% 20% 50%;
    }

    #joinPicture {
        display: none;
    }

    #joinPicLarge {
        display: block;
    }

    #joinPic {
        grid-column: 1/3;
        grid-row: 5;
        width: 98%;
        justify-self: center;
    }

    #memBenefit {
        grid-column: 1/2;
        grid-row: 4/5;
        width: 75%;
        justify-self: center;
    }


    /* Chamber Events */

    #chamberEvents {
        grid-row: 3;
        grid-column: 1/2;
    }



    /* Commpany Spotlight */

    .spotlightImg {
        width: 60%;
    }
    #spotlight {
        grid-column: 3/4;
        grid-row: 3/5;
        height: 100%;
    }

    #spotlightContainer {
        height: 100%;
    }

    .comp {
        height: 100%;
    }


    /* Weather */

    #weather {
        width: 70%;
        grid-row: 4;
        
        justify-self: center;
    }




    /*Discover Page*/
    
    figure img:hover {
        width: 102%;
        border: 1px solid #D9B310;
        border-radius: 15px;
        transition: 1s;
    }

    /*Join Page*/

    #membershipForm {
        width: 25%;
      }


    /*Thank you page*/

    #pthanks {
        font-size: x-large;
    }

    /*Directory Page*/

    .gridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
      }

      .listItem {
        display: grid;
        grid-template-columns: 40% 20% 20% 20%;
        grid-template-rows: 1fr;
        margin-right: 30px;
      }

      /*Contact Page*/

      #boardMembers {
        flex-wrap: nowrap;
      }

      #message {
        width: 700px;
      }
}