@media only screen and (min-width: 64em) {
    #smallViewBar {
        border: 2px solid #D9B310;
        border-bottom: none;
        border-top: none;
        border-right: none;
        width: 1%;
        margin-left: 30px;
        height: 80px;
    }

    header {
        flex-direction: row;
    }

    #navbar {
        margin-top: 50px;
    }

    #personas {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}