@media only screen and (min-width: 64em) {
    #socialDiv {
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin-right: 50px;
    }

    .social {
        width: 40px;
        height: 40px;
    }

    #logo {
        margin-top: 20px;
        width: 125px;
    }

    #logo:hover {
        width: 127px;
    }
}