body {
    background-color: #F2E3DB;
    color: #263A29;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

img {
    border-radius: 50%;
    width: 15%;
}

header {
    display: flex;
    justify-content: center;
    background-color: #263A29;
    width: 60%;
    border-radius: 30px;
}

header h1 {
    color: #F2E3DB;
    margin: 5%;
}

main {
    text-align: center;
}
main h2 {
    font-size: 30px;
    text-decoration: underline;
}

main ul {
    display: inline-block;
}

main ul li {
    text-align: left;
    font-size: 20px;
}

footer {
    width: 60%;
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    background-color: #263A29;
    color: #F2E3DB;
}

a {
    color: #E86A33;
}